{
    "extends": "byungi/typescript",
    "rules": {
        "ava/no-ignored-test-files": [
            "error",
            {
                "extensions": ["ts"],
                "files": ["test.ts"]
            }
        ]
    }
}
